.loading-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../../assets/images/landing.jpg);
  background-size: cover;
  background-position: center;
  animation: page-fade 0.3s 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.landing-logo {
  margin-top: 30px;
  width: 300px;
  animation: logo-fade 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

@keyframes logo-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.7);
  }
  31% {
    transform: scale(1);
  }
  60% {
    opacity: 0.7;
    transform: scale(1.3);
  }
}
@keyframes page-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
