:root {
  --main-color: #d6a631;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.j-start {
  justify-content: flex-start;
}
.j-end {
  justify-content: flex-end;
}

.j-center {
  justify-content: center;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color);
}
.main-head,
.main-body {
  background-color: #040e17;
  padding: 15px 20px;
  border-radius: 15px;
}

.main-head {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 20px;
}
.main-head-intro {
  margin-bottom: 20px;
}
.team-chart-lists {
  margin: 0 15px;
  width: 245px;
}
.MuiModal-root-MuiDialog-root {
  background-color: #030f1f !important;
  border: none;
  border-radius: 20px;
}
.MuiDialogContent-root {
  border: none;
  border-radius: 20px;
}
.sign-form {
  padding: 30px 30px 30px 0;
  justify-content: space-between;
}
.sign-logo img {
  width: 100%;
  height: auto;
}
.match-item-column-date {
  padding-left: 80px;
}
.match-item-column-team {
  margin-left: 30px;
}
.match-item-column > div {
  width: 50%;
}
.match-item,
.favourite-item,
.news-item {
  border-radius: 8px;
  background-color: #041421;
  margin: 10px 0;
  padding: 10px;
}
.competition-items .match-item > div {
  width: 50% !important;
}
.match-item > div:first-child {
  width: 30%;
}
.match-item > div:last-child {
  width: 45%;
}
.team-mark-small {
  width: 30px !important;
  height: auto;
  margin-right: 10px;
}
.match-item-date p {
  margin-bottom: 3px !important;
}
.match-item-team {
  margin-right: 20px;
}
.team-vs-line {
  height: 3px;
  width: 30px;
  border-radius: 2px;
  background-color: white;
}
.match-item-team > div {
  margin: 3px;
}
.match-item-date .MuiSvgIcon-root {
  font-size: 30px !important;
  margin: 5px 20px;
}
.MuiChartsAxis-line,
.MuiChartsAxis-tick {
  visibility: hidden;
}
.outline-btn {
  background-color: transparent;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 20px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.pull-btn {
  background-color: var(--main-color);
  padding: 5px 8px;
  margin: 5px;
  border-radius: 20px;
}
.main-head--logo {
  width: 50%;
}
.main-head--logo img {
  width: 70px;
  width: 50px;
  margin-right: 30px;
}
.main-navbar {
  background-color: #041421;
  padding: 10px;
  border-radius: 25px;
}
.main-navbar .nav-link {
  color: rgb(141, 141, 141) !important;
  text-transform: uppercase;
  cursor: pointer;
}
.main-navbar .nav-link.active {
  color: var(--main-color) !important;
}
.jersey-card {
  width: 23%;
  background-color: #041421;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px black;
  margin: 10px;
  position: relative;
  /* margin: 8px; */
}
.jersey-lists {
  flex-wrap: wrap;
}
.jersey-card .card-tool > * {
  margin: 0 5px;
}
.jersey-card img {
  width: 100%;
  height: auto;
}
.MuiDrawer-paperAnchorRight {
  background-image: none !important;
  background-color: #061727;
}

.knockout {
  height: 100%;
}
.knockout-item.top,
.knockout-item.top .knockout-item-number {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.knockout-item.bottom,
.knockout-item.bottom .knockout-item-number {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.knockout-item {
  width: 150px;
  background-color: rgba(15, 41, 63);
  margin-bottom: 2px;
}
.knockout-item .knockout-item-number {
  padding: 5px 10px;
  background-color: rgba(21, 57, 84);
}
.knockout-before-number {
  margin: 10px;
}
.knockout-lines {
  padding: 30px 5px;
  height: 100%;
}
.knockout-lines-block {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 20px;
  height: 100%;
}
.knockout-lines-bar {
  width: 20px;
  height: 2px;
  background-color: white;
}
.sign-logo {
  padding: 50px 0;
  border-right: 1px solid #5d5d5d;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) {
  .team-chart-lists {
    display: flex;
    justify-content: space-around;
  }
  .team-chart-lists > ul {
    margin: 0 5px !important;
    padding: 5px;
    height: 100%;
  }
  .user-page-container {
    flex-wrap: wrap;
  }
  .user-page-container > div {
    width: 100% !important;
  }
  main {
    margin-left: 1px !important;
  }
  .app-logo {
    display: none !important;
  }
}
